<div class="content-container">
    <div class="row-section">
        <div class="content-section">
            <div class="information-about">
                <h3 class="header-text">Email Notifications</h3>
                <div class="text-normal">
                    
Turn on or off the emails you'd like to receive.
                </div>
            </div>
            <div class="change-information notification-settings">
                <div class="container-box">
                    <div class="button-and-header-settings " style="display: block;">
                    
                        <div class="header-button">
                            Display Name
                        </div>
                        <div class="text-normal">
                            The weekly CodePen Spark newsletter
                        </div>
                    

                    
                </div>
                <label class="toggle">
                    <span class="toggle-label">Off</span>
                    <input class="toggle-checkbox" type="checkbox" checked>
                    <div class="toggle-switch"></div>
                    <span class="toggle-label">On</span>
                </label>
                </div>
                <div class="container-box">
                    <div class="button-and-header-settings " style="display: block;">
                    
                        <div class="header-button">
                            Comments
                        </div>
                        <div class="text-normal">
                            New comments on your work or mentions


                        </div>
                    

                    
                </div>
                <label class="toggle">
                    <span class="toggle-label">Off</span>
                    <input class="toggle-checkbox" type="checkbox" checked>
                    <div class="toggle-switch"></div>
                    <span class="toggle-label">On</span>
                </label>
                </div>
                <div class="container-box">
                    <div class="button-and-header-settings " style="display: block;">
                    
                        <div class="header-button">
                            Follows
                        </div>
                        <div class="text-normal">
                            New followers

                        </div>
                    

                    
                </div>
                <label class="toggle">
                    <span class="toggle-label">Off</span>
                    <input class="toggle-checkbox" type="checkbox" checked>
                    <div class="toggle-switch"></div>
                    <span class="toggle-label">On</span>
                </label>
                </div>
                <div class="container-box">
                    <div class="button-and-header-settings " style="display: block;">
                    
                        <div class="header-button">
                            Features
                        </div>
                        <div class="text-normal">
                            New feature release alerts and how-to's

                        </div>
                    

                    
                </div>
                <label class="toggle">
                    <span class="toggle-label">Off</span>
                    <input class="toggle-checkbox" type="checkbox" checked>
                    <div class="toggle-switch"></div>
                    <span class="toggle-label">On</span>
                </label>
                </div>
                <div class="container-box">
                    <div class="button-and-header-settings " style="display: block;">
                    
                        <div class="header-button">
                            Highlights
                        </div>
                        <div class="text-normal">
                            Your work is showcased in Picks and other social highlights

                        </div>
                    

                    
                </div>
                <label class="toggle">
                    <span class="toggle-label">Off</span>
                    <input class="toggle-checkbox" type="checkbox" checked>
                    <div class="toggle-switch"></div>
                    <span class="toggle-label">On</span>
                </label>
                </div>
            </div>
        </div>
        
    </div>
</div>