<div class="content-container">
    <!-- Username Change Section -->
    <div class="row-section">
        <div class="content-section">
            <div class="information-about">
                <h3 class="header-text">Username</h3>
                <div class="text-normal">
                    You can change it if you like, but fair warning, any links out there to your stuff in the internet
                    wilderness will 404. Except Pens, we try to redirect those the best we can based on slug.
                </div>
            </div>
            <div class="change-information" style="display: inline;">
                <span class="label-button-text">Username</span>
                <input class="input-default-settings" type="text" [(ngModel)]="newUsername" placeholder="username">
                <small>https://code.io/<strong>username</strong></small>
                <button class="button-click-settings" (click)="changeUsername()">Change Username</button>
            </div>
        </div>
    </div>

    <!-- Update Password Section -->
    <div class="row-section">
        <div class="content-section">
            <div class="information-about">
                <h3 class="header-text">Update Password</h3>
                <div class="text-normal">
                    Enter both fields to change your password.
                </div>
            </div>
            <div class="change-information" style="display: inline;">
                <div class="button-and-header-settings">
                    <div class="header-button">
                        Current Password
                    </div>
                    <input class="input-default-settings" type="password" [(ngModel)]="currentPassword">
                    <div class="header-button">
                        New Password
                    </div>
                    <input class="input-default-settings" type="password" [(ngModel)]="newPassword">
                </div>
                <button class="button-click-settings" (click)="updatePassword()">Update</button>
            </div>
        </div>
    </div>

    <!-- Change Email Section -->
    <div class="row-section">
        <div class="content-section">
            <div class="information-about">
                <h3 class="header-text">Email</h3>
                <div class="text-normal">
                    This is where all notifications will be sent, including lost password requests.
                </div>
            </div>
            <div class="change-information" style="display: inline;">
                <div class="button-and-header-settings">
                    <div class="header-button">
                        Email Address
                    </div>
                    <input class="input-default-settings" type="email" [(ngModel)]="newEmail">
                    <button class="button-click-settings" (click)="changeEmail()">Change Email</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Danger Zone Section -->
    <div class="row-section">
        <div class="content-section">
            <div class="information-about">
                <h3 class="header-text">Danger Zone</h3>
                <div class="text-normal">
                    Deleting your account will wipe all information about you and content you’ve created on CODE.
                </div>
            </div>
            <div class="change-information" style="display: inline;">
                <div class="button-and-header-settings">
                    <button class="button-click-settings delete-account" (click)="deleteAccount()">Delete
                        Account</button>
                </div>
            </div>
        </div>
    </div>

</div>