<div class="header-container">
    <!-- <input type="text" placeholder="Tìm kiếm...">
    <button type="submit">Tìm</button> -->

    <!-- <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/pin--v1.png" alt="pin--v1"/> -->
    <app-search class="app-search-container"></app-search>
    <div class="login-signup-image-pinned">
        <div class="login-signup" >
            <button class="signup-button" routerLink="/signup">Sign Up</button>
            <button class="login-button" routerLink="/login">Log In</button>
            
        </div>
    </div>
</div>