<!--  file này để + các component với nhau (sidebar, search, body-home, following-center, footer) -->

<div class="full-page">
    <div class="app-sidebar-component">
        <app-sidebar></app-sidebar>
    </div>
    <div class="right-content">
        <div class="app-search-component">
            <app-search></app-search>
        </div>
        <div class="center-content">
            <div class="app-body-home-component">
                <app-body-following-trending></app-body-following-trending>
            </div>
            <div class="following-center-component">
                <app-following-center></app-following-center>
            </div>
            
        </div>
        <div class="app-footer-component">
            <app-footer></app-footer>
        </div>
    </div>
    

</div>