.full-page {
    position: relative;
    background: hsl( 225deg 9.52% 8.24% );
     height: auto;
    // height: fit-content;
    display: flex;
    overflow-x: hidden;
    .app-sidebar-component {
        width: 180px;
    }
    .right-content {
        // width: 88%;
        height: fit-content;
        flex: 1;
        .app-search-component {
            width: 100%;
            height: 15%;
        }
        .center-content {
            padding: 40px;
            padding-bottom: 75px;
            .app-body-home-component {
                width: 100%;
                height: 15%;

                
            }
            
            .select-option {
                margin-left: 5.7%;
                margin-right: 5%;
                padding: 10px 0px 10px 10px;
                // padding-right: 15%;
                background-color: hsl( 232.5deg 11.76% 13.33% );

                .toggle {

                    // thu nhỏ thẻ từ 1 -> 0.7
                    transform: scale(0.8);

                    span {
                        font-size: 20px;
                    }
                }
            }
            .following-center-component {
                width: 100%;
                height: 60%;
            }

        }
        .app-footer-component {
            // width: 100%;
            // // height: 20%;
            // // end of page
            // position: absolute;
            // bottom: 0;
            width: 100%;

        }
    }

}

