.container {
  z-index: 1;
  // width: auto;
  font-size: large;
  nav {
    background-color: #131417;
      ul {
          li {
            cursor: pointer;
              // margin: 5px;
              display: list-item;
              a {
                // font: 'Telefon', Sans-Serif;
                font-family: 'Telefon', Sans-Serif;
                // bold style
                font-weight: bold;
                font-size: 1.6rem;
                // font-weight: 800;
                padding: 0 1.5rem 0.4rem;
                color: hsl( 228.39deg 12.25% 50.39% );
              }
              a:hover {
                color: hsl( 226.67deg 11.84% 70.2% );
                border: unset;
              }
          }
      }
  }

  div {
    // height:;
  }
}

/* Mặc định cho các mục li */
.navbar-nav .nav-item a {
  color: #333; /* Màu văn bản mặc định */
  text-decoration: none; /* Loại bỏ gạch chân mặc định */
  border-bottom: 2px solid transparent; /* Đường kẻ dưới mặc định (ẩn) */
}

/* Khi di chuột vào */
.navbar-nav .nav-item a:hover {
  color: #007bff; /* Màu văn bản khi di chuột vào */
  border-bottom-color: #007bff; /* Màu của đường kẻ dưới khi di chuột vào */
}

/* Khi được chọn */
.navbar-nav .nav-item.active a {
  color: #28a745; /* Màu văn bản khi được chọn */
  border-bottom-color: #28a745; /* Màu của đường kẻ dưới khi được chọn */
}