.container {
  z-index: 1;
  font-size: large;

  nav {
    background-color: #131417;
    margin-left: 5%;
    margin-right: 5%;

    ul {
      li.nav-item {
        cursor: pointer;

        display: list-item;

        a {
          padding: 10px 20px;
          font-weight: bold;
          font-size: 1.6rem;
          color: hsl(228.39deg 12.25% 50.39%);
          text-decoration: none;
        }

        a:hover:not(.active) {
          color: hsl(226.67deg 11.84% 70.2%);
          border: unset;
        }

        .active {
          color: white;
          border-bottom: 4px solid green;
        }
      }


    }
  }

}


app-your-work {
  margin-top: 50%;
  margin-left: 50%;
}