<div class="bar">
    <div class="navigate">
        <h2 class="links-centrals pens" (click)="showPens = true; showCollections = false; showProjects=false; navigateToPens()">Pens</h2>
        <h2 class="links-centrals collections" (click)="showCollections = true; showPens = false; showProjects=false; navigateToCollections()">Collections</h2>
        <h2 class="links-centrals projects" (click)="showProjects = true; showCollections = false; showPens=false; navigateToProjects()">Projects</h2>
    </div>
    <div class="selection">
        <app-pen-profile *ngIf="showPens"></app-pen-profile>
        <app-collections-profile *ngIf="showCollections"></app-collections-profile>
        <app-project-profile *ngIf="showProjects"></app-project-profile>
    </div>
</div>
