/* sidebar.component.css */
.main-sidebar {
    width: 300px; /* Độ rộng của sidebar */
    background-color: #333; /* Màu nền của sidebar */
    color: white; /* Màu chữ trong sidebar */
  }
  
  /* Đặt kiểu dáng cho các phần tử bên trong sidebar */
  .Sidebar-module_root-Yc985 {
    /* Đặt kiểu dáng cho phần sidebar-root tại đây */
  }
  
  /* Thêm các kiểu dáng khác cho các phần tử khác */
  