<!-- if hiddenCreateNewCollection = True -> hiddne -->

<div class="all-screen">


    <div class="pinned-collection">
        <header class="header-new-collection">
            <h2 class="title-new-collection">Pinned Items</h2>
            <button type="button" class="btn-close-new-collection" (click)="onClosePinnedCollection()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                    <path
                        d="M96.8 83.7 63.1 50l33.7-33.7c3.6-3.6 3.6-9.4 0-13.1s-9.5-3.6-13.1 0L50 36.9 16.3 3.2C12.7-.4 6.9-.4 3.2 3.2s-3.6 9.5 0 13.1L36.9 50 3.2 83.7c-3.6 3.6-3.6 9.4 0 13.1s9.5 3.6 13.1 0L50 63.1l33.7 33.7c3.6 3.6 9.4 3.6 13.1 0s3.6-9.5 0-13.1z">
                    </path>
                </svg>
            </button>
        </header>
        <div class="item-grid" *ngIf="pen_collection_ids.length!=0" >
            <div *ngFor="let dataItem of pen_collection_ids">
                <app-content-grid-code *ngIf="dataItem.type =='pen'" [pen_id]="dataItem.id"></app-content-grid-code>
                <app-content-grid-collection *ngIf="dataItem.type =='collection'" [collection]="dataItem.id" [is_pinned]="true"></app-content-grid-collection>
            </div>
        </div>
        <div class="item-grid no-pinned" *ngIf="pen_collection_ids.length==0">
            <h2>You don't have any pinned items yet.</h2>
            <p>You can pin any Pen, Project, or Collection for easy access here.</p>
        </div>
    </div>
</div>