div {
    width: 350px;
    background-color: black;
    border-radius: 10px;

    .link {
        display: flex;
        align-items: center;

        .preview {
            width: 350px;
            height: 196px;
            display: inline-block;
            border: 1px solid black;
            border-radius: 10px;
            background-color: white;
            position: absolute;

            .previewPop {
                display: none;
            }

            &:hover .previewPop {
                display: block;
            }
        }

        .previewPop {
            height: 196px;
            position: relative;
            text-decoration: none;
            margin-left: 310px;

            button {
                border: none;
                margin-top: 15px;
                background-color: white;
            }
        }
    }

    .header {
        display: flex;
        align-items: center;

        h2 {
            font-size: medium;
            font-weight: bold;

            a {
                color: white;
                text-decoration: none;
            }
        }

        span {
            margin-left: auto;
            color: white;
        }
    }

    footer {
        button {
            margin-right: 5px;
            border-radius: 10px;
            background-color: aliceblue;

            span {
                margin-right: 2px;
            }
        }
    }
}