
<div class="body">
    <section id="header">
        <div class="left">
            <h2 class="logo"><i class="fa-brands fa-codepen fa-xl"></i></h2>
            <div class="project-details">
                <h4 class="title">Untitled <i class="fa-solid fa-pencil"></i></h4>
                <p>Captain Anonymous</p>
            </div>
        </div>
        <div class="right">
            <ul>
                <li class="save"><a href="#"><i class="fas fa-cloud"></i> Save</a></li>
                <li class="settings"><a href="#"><i class="fas fa-gear"></i> Settings</a></li>
                <li class="view"><a href="#"><i class="fas fa-object-group"></i></a></li>
                <li class="submenu" (click)="openMenu()"><a href="#"><i class="fas fa-square-caret-down"></i></a></li>
                <li><a class="signup" (click)="onSigninButtonClick()">Sign Up</a></li>
                <li><a class = "login" (click)="onLoginButtonClick()">Log In</a></li>
            </ul>
        </div>
    
        <!-- For Mobile Sub-Menu -->
        <ul class="mobile-menu" [style.right]="isMenuOpen ? '75px' : '-400px'" id="side-menu">
            <li class="save"><a href="#"><i class="fa-solid fa-cloud"></i> Save</a></li>
            <li class="settings"><a href="#"><i class="fa-solid fa-gear"></i> Settings</a></li>
            <i class="fa-solid fa-xmark close" (click)="closeMenu()"></i>
        </ul>
    
    </section>
</div>