* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

#header {
    background-color: #0d0d0d;
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2px solid #3a3a3a;
    font-family: 'Lucida Sans', sans-serif;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.left {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .project-details {
        h4 {
            padding-left: 10px;
            font-size: 17px;
        }

        p {
            padding-left: 10px;
            font-size: 13px;
        }
    }
}

.project-title-input {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 17px;
    outline: none;
    padding-left: 10px;
    height: auto;  
    line-height: 1;  

    &:focus {
        border-bottom: none;
        box-shadow: none;
        text-decoration: none;
    }
}

.right ul {
    li {
        display: inline-block;
        margin: 5px 2px;
        list-style: none;

<<<<<<< HEAD
.image-pinned {
    display: flex;

    button {
      padding: 0px 15px;
      border-radius: 4px;
      color: white;
      background-color: hsl(228deg 12.2% 40.2%);

      svg {
        color: white;
      }

      .pin-icon {
        width: 16px;
        height: 16px;
        min-height: 1.2em;
        display: inline-block;
        pointer-events: none;
        vertical-align: bottom;
        fill: currentColor;
      }

      .open-icon {
        width: 10px;
        margin-left: 2px;
        width: 16px;
        height: 16px;
        min-height: 1.2em;
        display: inline-block;
        pointer-events: none;
        vertical-align: bottom;
        fill: currentColor;
      }
    }

    .avatar-user {
      cursor: pointer;
      border-radius: 2px;
    }
  }

  .option-setting {
    position: absolute;
    right: 15px;
    top: 70px;
    z-index: 2;

    .option-setting-container {
      padding: 5px 0px;
      display: block;
      background-color: hsl(232.5deg 11.76% 13.33%);
      border-radius: 5px;
      width: fit-content;
      height: fit-content;

      div {

        border: solid;
        border-width: 0px;
        border-bottom-width: 1px;
        border-color: hsl(222.86deg 13.73% 20%);

        display: block;

        a {
          padding: 0.3rem;
          padding-inline: 0.7rem;
          text-wrap: nowrap;

          text-decoration: none;
          color: white;
          font-size: 0.96rem;
          font-weight: 700;
          display: block;
          margin: 4px 0px;

          &:hover {
            background-color: hsl(228deg 12.2% 40.2%);
          }

          svg {
            width: 16px;
            height: 16px;
            margin-right: 0.35rem;
            fill: white;
          }
        }
      }
    }
  }

  .option-setting {
      position: absolute;
      right: 15px;
      top: 70px;
      z-index: 2;



      .option-setting-container {
        padding: 5px 0px;
        display: block;
        background-color: hsl(232.5deg 11.76% 13.33%);
        border-radius: 5px;

        div {

          border: solid;
          border-width: 0px;
          border-bottom-width: 1px;
          border-color: hsl(222.86deg 13.73% 20%);

          display: block;

          a {
            padding: 0.3rem;
            padding-inline: 0.7rem;
            text-wrap: nowrap;

            text-decoration: none;
            color: white;
            font-size: 0.96rem;
            font-weight: 700;
            display: block;
            margin: 4px 0px;

            &:hover {
              background-color: hsl(228deg 12.2% 40.2%);
              // width: 100%;
            }

            svg {
              width: 16px;
              height: 16px;
              margin-right: 0.35rem;
              fill: white;
            }
          }
        }
      }
    }

=======
        a {
            border-radius: 10px;
            text-decoration: none;
            background: #4b4f60;
            padding: 8px 12px;
            color: #fcfafa;
            &:hover {
                background: rgb(37, 37, 37);
            }
        }
>>>>>>> refs/remotes/origin/main

        .signup {
            background: #2d9d52;
            &:hover {
                background: #1d7039;
            }
        }
    }

    .submenu {
        display: none;
    }
}

.mobile-menu {
    display: none;
    position: absolute;
    background: #3a3a3a;
    width: 150px;
    top: 50px;
    right: -400px;
    border-radius: 4px;
    transition: right 0.5s;

    li {
        display: block;
        margin: 10px 2px;
        list-style: none;

        a {
            text-decoration: none;
            padding: 8px 16px;
            color: #0d0d0d;
            border-radius: 4px;
        }
    }

    .close {
        font-size: 20px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 15px;
        border-radius: 4px;
    }
}

@media only screen and (max-width: 750px) {
    #header {
        padding: 6px 10px;
    }

    .right ul {
        .save, .settings, .view {
            display: none;
        }

        .submenu {
            display: inline-block;
        }

        .mobile-menu {
            display: inline-block;
        }
    }
}
