<div class="screen-code-full" id="screen-code-full-id">

    <div class="no-file-selected" [hidden]="this.data.filesOpened.size !== 0">
        <div class="instructional">
            <h2>Welcome to the Project Editor!</h2>
            <p>Open a file on the left to see its content. HTML files can be previewed below.</p>
        </div>
    </div>


    <div class="has-file-selected" [hidden]="this.data.filesOpened.size == 0">
        <div class="screen-code-header">
            <nav class="project-editor-open-file">
                <ul>
                    <li *ngFor="let file of this.data.filesOpened" (click)="changeActiveFile(file)">
                        <div
                            class="file-container {{file.split('.').pop()}} {{file == this.data.fileChoose ? 'active' : ''}}">
                            <span>{{this.data.data_map[file].name}}</span>
                            <button class="close-btn" style="display: inline-block;" (click)="clickCloseButton(file)">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="icon icon-x">
                                    <path
                                        d="M96.8 83.7 63.1 50l33.7-33.7c3.6-3.6 3.6-9.4 0-13.1s-9.5-3.6-13.1 0L50 36.9 16.3 3.2C12.7-.4 6.9-.4 3.2 3.2s-3.6 9.5 0 13.1L36.9 50 3.2 83.7c-3.6 3.6-3.6 9.4 0 13.1s9.5 3.6 13.1 0L50 63.1l33.7 33.7c3.6 3.6 9.4 3.6 13.1 0s3.6-9.5 0-13.1z">

                                    </path>
                                </svg>
                            </button>


                        </div>

                    </li>
                </ul>
            </nav>

        </div>


        <div class="screen-code-screen" id="screen-code-screen-id">
            <app-code-box-project class="box-code1" [data]="data"
                (dataChange)="onDataChange($event)"></app-code-box-project>
        </div>

    </div>

</div>