//  link style

.content-container {
  width: 100%;
  .row-section {
    .content-section {
      .change-information {
        // display: flex;

        img {
          border-radius: 3px;
        }
      }
    }
  }
}


.button-click-settings.green-button {
    background-color: hsl( 139.41deg 58.62% 54.51% );
            color: black;
                 margin: 0;   
                    &:hover {
                        background-color: hsl( 139.41deg 58.62% 44.51% );
                        color: white;
                    }
}
