.code-grid-container {
    // width: 350px;
    width: 100%;
    height: 100%;
    // max-width: 500px;
    // height: 100%;
    position: relative;
    // background-color: black;
    border-radius: 10px;
    .background-code{
        position: absolute;
        background-color: hsl( 232.5deg 11.76% 13.33% );
        right: -4%;
        bottom: -3%;
        // width: 100%;
        // width = 100% and add 20px
        width: 105%;
        height: 100%;
        border-radius: 10px;
        transition: all 0.4s ease-in-out;
        
    }
    &:hover .background-code{
        width: 110%;
        height: 110%;
        // time
        
        //  time unhover
        transition: all 0.4s ease-in-out;
        

        
    }
    


    .center-container-grid-code {
        position: relative;
        z-index: 1;

        .link {
            
            display: flex;
            align-items: center;
            height: 70%;
            
            
    
            .preview {

                display: inline-block;
                background-color: white;
                // border: 1px solid black;
                border-radius: 10px;
                // background-color: black;
                width: 100%;
                overflow: hidden;
                height: 100%;
                img {
                    width: 100%;
                    border-radius: 10px;
                }

                .output-field {
                    iframe {
                        pointer-events: none;
                        cursor: pointer;
                    }
                }
    
                //  hover -> previewpop: hidden: false
                
    
            }
            .previewPop {
                display: none;
                
            }
    
            &:hover .previewPop {
                display: block;
                position: absolute;
                top: 20px;
                right: 30px;
    
                text-decoration: none;
    
                button {
                    border: none;
                    background-color: #444857;
                    color: white;
                }
            }
        }
    
        .header {
            margin: 1rem 0rem; 
            height: 20%;
            display: flex;
            align-items: center;
            padding: 0px 0px;
            .image {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: .75rem;
                img {
                    width: 100%;
                    height: 100%;
                }
                
            }
    
            .name-code {
                font-size: medium;
                font-weight: bold;
                align-items: center;
                margin-bottom: 0px;
                a {
                    display: block;

                    color: white;
                    text-decoration: none;
                }

                .code-user {
                    color: #B7BBC8;
                    font-size: 14px;
                    margin-top: 5px;
                    font-weight: normal;
                }
            }
    
            span {
                margin-left: auto;
                color: white;
            }
        }
    
        footer {
            padding-left: 0px;
            height: 10%;
            button {
                margin-right: 5px;
                border-radius: 8px;
                background-color: #444857;
                color: white;
                border:unset;
                // border-color: #444857;
                padding: 3px 7px;
    
                span {
                    margin-right: 2px;
                }
            }
        }
    }
}