div {
    // width: 350px;
    width: 100%;
    height: 100%;
    // max-width: 500px;
    // height: 100%;

    // background-color: black;
    border-radius: 10px;

    .link {
        display: flex;
        align-items: center;
        height: 70%;

        .preview {
            display: inline-block;
            // border: 1px solid black;
            border-radius: 10px;
            // background-color: black;
            width: 100%;
            overflow: hidden;
            height: 100%;
            img {
                width: 100%;
                border-radius: 10px;
            }

            //  hover -> previewpop: hidden: false
            

        }
        .previewPop {
            display: none;
        }

        &:hover .previewPop {
            display: block;
            position: absolute;
            top: 20px;
            right: 30px;

            text-decoration: none;

            button {
                border: none;
                background-color: #444857;
                color: white;
            }
        }
    }

    .header {
        height: 20%;
        display: flex;
        align-items: center;
        padding: 0px 20px;

        h2 {
            font-size: medium;
            font-weight: bold;

            a {
                color: white;
                text-decoration: none;
            }
        }

        span {
            margin-left: auto;
            color: white;
        }
    }

    footer {
        padding-left: 20px;
        height: 10%;
        button {
            margin-right: 5px;
            border-radius: 8px;
            background-color: #444857;
            color: white;
            border:unset;
            // border-color: #444857;
            padding: 3px 7px;

            span {
                margin-right: 2px;
            }
        }
    }
}