.code-grid-container {
  // width: 350px;
  width: 100%;
  height: 100%;
  // max-width: 500px;
  // height: 100%;
  position: relative;
  // background-color: black;
  border-radius: 10px;
  .background-code {
    position: absolute;
    background-color: hsl(232.5deg 11.76% 13.33%);
    right: -3%;
    bottom: -42%;
    width: 107%;
    height: 150%;
    border-radius: 10px;
    transition: all .3s ease .1s;
    clip-path: inset(1.5rem 0rem 2rem 2rem round 10px);


  }
  .background-code.enter-show {
    transition: all .3s ease .1s;
    // remove clip-path
    clip-path: inset(0rem 0rem 0rem 0rem round 10px);
    /* up and down 10%, left 10%, right unchanged */
    // transform-origin: right center;
    // transform: translateX(-10%) scaleY(1.1);
    // opacity: 1;
    // visibility: visible;
    
}

  .center-container-grid-code {
    position: relative;
    z-index: 1;
    height: 100%;
    .link {
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 100%;

      .preview {
        display: inline-block;
        background-color: white;
        // border: 1px solid black;
        border-radius: 10px;
        // background-color: black;
        width: 100%;
        overflow: hidden;
        height: 100%;
        img {
          width: 100%;
          border-radius: 10px;
        }

        .output-field {
          iframe {
            pointer-events: none;
            cursor: pointer;
          }
        }

        //  hover -> previewpop: hidden: false
      }
      .previewPop {
        display: none;
      }

      &:hover .previewPop {
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;

        text-decoration: none;

        button {
          border: none;
          background-color: #444857;
          color: white;
          
        }
      }
    }

    .header {
      margin: 0.5rem 0rem;
      height: 20%;
      display: flex;
      align-items: center;
      padding: 0px 0px;
      .image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 0.75rem;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .name-code {
        font-size: medium;
        font-weight: bold;
        align-items: center;
        margin-bottom: 0px;
        a {
          display: block;

          color: white;
          text-decoration: none;
        }

        .code-user {
          color: #b7bbc8;
          font-size: 14px;
          margin-top: 5px;
          font-weight: normal;
        }
      }

      .three-dot-list {
        position: relative;
        color: white;
        margin-left: auto;
        span {
          cursor: pointer;
        }

        .list-items.show {
          transform: translateY(0px);
          opacity: 1;
          visibility: visible;
        }

        .list-items {
          color: white;
          position: absolute;
          bottom: 30px;
          right: 0px;
          width: max-content;


          transform: translateY(-10px);
          opacity: 0;
          visibility: hidden;
          transition: transform 0.15s ease-in-out, opacity 0.15s linear,
            visibility 0s linear;


          ul {
            list-style: none;
            margin-bottom: 0px;
            padding: 0.5rem;
            border-radius: 5px;
            background-color: hsl(232.5deg 11.76% 13.33%);
            box-shadow: 0 2px 8px hsl(240deg 9.09% 4.31% / 60%);

            li {
            
            &:hover {
                    background-color: #444857;
            }
            cursor: pointer;
              padding: 0.4rem 0.6rem;
            margin: 0px 3px;
              svg {
                width: 16px;
                height: 16px;
                fill: white;
              }
            }
          }
        }
      }
    }

    .footer-code-grid-container {
      padding-left: 0px;
      height: 10%;
        visibility: hidden;
        transition: all .2s ease;
        opacity: 0;
        display: flex;
      button {
        margin-right: 5px;
        border-radius: 8px;
        background-color: #444857;
        color: white;
        border: unset;
        // border-color: #444857;
        padding: 3px 7px;

        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            width: 12px;
            height: 12px;
            margin-right: 8px;
            fill: white;
        }
        span {
          margin-right: 2px;
        }
      }
    }

    .footer-code-grid-container.enter-show {
        opacity: 1;
        visibility: visible;
        transition: all .2s ease;
    }
  }
}
