<!--  file này để + các component với nhau (sidebar, search, body-home, following-center, footer) -->

<div class="full-page">
    <div class="app-sidebar-component">
        <app-sidebar class="app-side-bar-container"></app-sidebar>
    </div>
    <div class="right-content">
        <div class="app-search-component">
            <app-header></app-header>
        </div>
        <div class="center-content">
            <div class="container-all">
                <div class="information-control">
                    <div class="user-module">
                        <a class="user-link" href={{user.link_user}}>
                            <img class="user-avatar" src="https://assets.codepen.io/t-1/user-default-avatar.jpg?format=auto&version=0&width=80&height=80" alt="user.name">

                        </a>
                        <div>
                            <h1 class="collection-name">{{ collectionName }}</h1>
                            <div class="user-name-container">
                                <span class="user-name">{{userName}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-user-module">
                        <div class="love-add">
                            <svg viewBox="-2 0 105 92" class="LoveButtonIcon-module_root-3tVfn" data-love-level="0">
                                <path
                                    d="M85.24 2.67C72.29-3.08 55.75 2.67 50 14.9 44.25 2 27-3.8 14.76 2.67 1.1 9.14-5.37 25 5.42 44.38 13.33 58 27 68.11 50 86.81 73.73 68.11 87.39 58 94.58 44.38c10.79-18.7 4.32-35.24-9.34-41.71Z">
                                </path>
                            </svg>
                        </div>
                        <div class="more-action">
                            <div class="dot-dot-dot-button">
                                <svg viewBox="0 0 29 7">
                                    <circle cx="3.5" cy="3.5" r="3.5"></circle>
                                    <circle cx="14.5" cy="3.5" r="3.5"></circle>
                                    <circle cx="25.5" cy="3.5" r="3.5"></circle>
                                </svg>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="control-module">
                    <app-full-option-control-item></app-full-option-control-item>
                </div>
                <div class="pen-module">
                    <app-list-item-grid-code [pen_ids]="pen_ids"></app-list-item-grid-code>
                    <!-- <app-content-grid-code *ngFor="let dataItem of pen_ids_current; trackBy: trackByFn" [pen_id]="dataItem"></app-content-grid-code> -->

                </div>
                <div class="comment-module">
                </div>
            </div>
            <app-comment-area [id]="currentCollectionID" [type]="'collection'"></app-comment-area>
        </div>
        <div class="app-footer-component">
            <app-footer ></app-footer>
        </div>
    </div>
</div>