<!--  file này để + các component với nhau (sidebar, search, body-home, following-center, footer) -->

<div class="full-page">
    <div class="app-sidebar-component">
        <app-sidebar class="app-side-bar-container"></app-sidebar>
    </div>
    <div class="right-content">
        <div class="app-search-component">
            <app-header></app-header>
        </div>
        <div class="center-content">
            <div class="container-all">
                <div class="information-control">
                    <div class="user-module">
                        <a class="user-link" href={{user.link_user}}>
                            <img class="user-avatar" src="https://assets.codepen.io/t-1/user-default-avatar.jpg?format=auto&version=0&width=80&height=80" alt="user.name">

                        </a>
                        <div>
                            <h1 class="collection-name">{{ collectionName }}</h1>
                            <div class="user-name-container">
                                <span class="user-name">{{userName}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-user-module">
                        <div class="love-add">
                            <svg viewBox="-2 0 105 92" class="LoveButtonIcon-module_root-3tVfn" data-love-level="0">
                                <path
                                    d="M85.24 2.67C72.29-3.08 55.75 2.67 50 14.9 44.25 2 27-3.8 14.76 2.67 1.1 9.14-5.37 25 5.42 44.38 13.33 58 27 68.11 50 86.81 73.73 68.11 87.39 58 94.58 44.38c10.79-18.7 4.32-35.24-9.34-41.71Z">
                                </path>
                            </svg>
                        </div>
                        <div class="more-action">
                            <div class="dot-dot-dot-button">
                                <svg viewBox="0 0 29 7">
                                    <circle cx="3.5" cy="3.5" r="3.5"></circle>
                                    <circle cx="14.5" cy="3.5" r="3.5"></circle>
                                    <circle cx="25.5" cy="3.5" r="3.5"></circle>
                                </svg>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="control-module">
                    <div class="control-row-module">
                        <div class="grid-list">
                            <label>GRID</label>
                            <span>
                                <button class="grid-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-60.741 20.407 74.148 45.778"
                                        xml:space="preserve" width="19">
                                        <path
                                            d="M-47.704 20.407h-8.666a4.332 4.332 0 0 0-4.37 4.37v8.742c0 2.37 1.925 4.37 4.37 4.37h8.74c2.37 0 4.37-1.926 4.37-4.37v-8.741c-.073-2.445-2-4.37-4.444-4.37zM-47.704 48.704h-8.666c-2.37 0-4.37 1.926-4.37 4.37v8.74c0 2.371 1.925 4.371 4.37 4.371h8.74c2.37 0 4.37-1.926 4.37-4.37v-8.74c-.073-2.371-2-4.371-4.444-4.371zM-19.333 20.407h-8.741c-2.37 0-4.37 1.926-4.37 4.37v8.742c0 2.37 1.925 4.37 4.37 4.37h8.74c2.371 0 4.371-1.926 4.371-4.37v-8.741c0-2.445-2-4.37-4.37-4.37zM-19.333 48.704h-8.741c-2.37 0-4.37 1.926-4.37 4.37v8.74c0 2.371 1.925 4.371 4.37 4.371h8.74c2.371 0 4.371-1.926 4.371-4.37v-8.74c0-2.371-2-4.371-4.37-4.371zM8.963 20.407H.296c-2.37 0-4.37 1.926-4.37 4.37v8.742c0 2.37 1.926 4.37 4.37 4.37h8.741c2.37 0 4.37-1.926 4.37-4.37v-8.741c-.074-2.445-2-4.37-4.444-4.37zM8.963 48.704H.296c-2.37 0-4.37 1.926-4.37 4.37v8.74c0 2.371 1.926 4.371 4.37 4.371h8.741c2.37 0 4.37-1.926 4.37-4.37v-8.74c-.074-2.371-2-4.371-4.444-4.371z">
                                        </path>
                                    </svg>
                                </button>
                                <button class="list-button">
                                    <svg viewBox="0 0 17 13" xmlns="http://www.w3.org/2000/svg" width="16.5">
                                        <path
                                            d="M.5 1a1 1 0 0 1 1-1H16a1 1 0 1 1 0 2H1.5a1 1 0 0 1-1-1ZM.5 6.5a1 1 0 0 1 1-1H16a1 1 0 1 1 0 2H1.5a1 1 0 0 1-1-1ZM.5 12a1 1 0 0 1 1-1H16a1 1 0 1 1 0 2H1.5a1 1 0 0 1-1-1Z">
                                        </path>
                                    </svg>
                                </button>
                            </span>
                            <label>LIST</label>
                        </div>
                        <div class="sort-by">
                            <label>
                                Sort By
                            </label>
                            <div class="selection-sort">
                                <select class="choose-sort" id="collectionSortBy">
                                    <option value="position">Order</option>
                                    <option value="dateAddedMostRecent">Date Added (Most Recent)

                                    </option>
                                    <option value="dateAddedLeastRecent">Date Added (Least Recent)

                                    </option>
                                    <option value="dateCreatedOldest">Date Created (Oldest)

                                    </option>
                                    <option value="dateCreatedNewest">Date Created (Newest)

                                    </option>
                                    <option value="lastUpdatedOldest">Last Updated (Oldest)

                                    </option>
                                    <option value="lastUpdatedNewest">Last Updated (Newest)

                                    </option>
                                </select>
                                <div class="icon-selection">
                                    <svg viewBox="-122.9 121.1 105.9 61.9">
                                        <path
                                            d="m-63.2 180.3 43.5-43.5c1.7-1.7 2.7-4 2.7-6.5s-1-4.8-2.7-6.5c-1.7-1.7-4-2.7-6.5-2.7s-4.8 1-6.5 2.7L-69.9 161l-37.2-37.2c-1.7-1.7-4-2.7-6.5-2.7s-4.8 1-6.5 2.6c-1.9 1.8-2.8 4.2-2.8 6.6 0 2.3.9 4.6 2.6 6.5 11.4 11.5 41 41.2 43 43.3l.2.2c3.6 3.6 10.3 3.6 13.9 0z">

                                        </path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pen-module">
                    <app-list-item-grid-code [pen_ids]="pen_ids"></app-list-item-grid-code>
                    <!-- <app-content-grid-code *ngFor="let dataItem of pen_ids_current; trackBy: trackByFn" [pen_id]="dataItem"></app-content-grid-code> -->

                </div>
                <div class="comment-module">
                </div>
            </div>
            <app-comment-area></app-comment-area>
        </div>
        <div class="app-footer-component">
            <app-footer></app-footer>
        </div>
    </div>
</div>