<div class="home-component-page">
    <app-sidebar-nologin class="sidebar"></app-sidebar-nologin>
    <div class="content">
        <div class="home-search">
            <app-search class="search"></app-search>
        </div>
        <!-- <app-body-following-trending class="fl-trend"></app-body-following-trending> -->
        <div class="home-center">
            <app-home-center></app-home-center>
        </div>

        <app-footer></app-footer>
        <!-- <app-search class="search"></app-search>
        <app-body-following-trending (gotoFollowingPr)="gotoFollowingPr()" class="fl-trend"></app-body-following-trending> -->
    </div>
    
</div>