.sidebar-with-search {
  display: flex;
  align-items: stretch;
  
  .sidebar {
    background-color: #1E1F26;
    color: #fff;
    width: 180px;
  }
  
  .content {
    display: flex;
    flex-direction: column; 
    width: 2000px;
  }
  
  .search{
    background-color: bisque;
    color: #fff;
    display: block;
    padding-top: 15px;
    height: min-content;
    margin: 0;
  }

  .fl-trend {
    margin-top: 5%;
  }
}
