.full-page {
    position: relative;
    background: hsl( 225deg 9.52% 8.24% );
     height: auto;
    // height: fit-content;
    display: flex;

    .app-sidebar-component {
        width: 180px;
    }
    .right-content {
        // width: 88%;
        height: fit-content;
        flex: 1;
        .app-search-component {
            width: 100%;
            height: 15%;
        }
        .center-content {
            border-top: 1px solid hsl( 222.86deg 13.73% 20% );
            display: flex;
            .list-settings {
                // border: 1px solid #e6e6e6;
                width: 188px;
                min-height: 100vh;
                border-right: 1px solid hsl( 222.86deg 13.73% 20% );
                padding-top: 18px;
                flex: 0 0 auto;
                .list-text {
                    .heading-settings-h1 {
                        color: hsl( 0deg 0% 100% );
                        font-size: 1.6rem;
                        line-height: 1.2;
                        margin: 0;
                        padding: 0 1.5rem 1.25rem;
                            // 'Telefon Black', Sans-Serif
                        font-family: 'Telefon Black', Sans-Serif;
                        font-weight: 800;
                    }
                    a {
                        color: hsl( 226.67deg 11.84% 70.2% );
                        font-size: 1rem;
                        line-height: 1.1;
                        padding: .6rem 1.375rem;
                        display: block;
                        transition: all .2s ease;
                        word-break: break-word;
                        position: relative;
                        text-decoration: none;
                        cursor: pointer;
    
                        
                        &:hover, &:focus {
                            background-color: hsl( 222.86deg 13.73% 20% );
                            color: hsl( 0deg 0% 100% );
                            font-weight: 700;
                        }
                        
                        
                        
                    }
                    .active {
                        background-color: hsl( 222.86deg 13.73% 20% );
                            color: hsl( 0deg 0% 100% );
                            font-weight: 700;
                    }

                    span.active{
                        content: "";
                        position: absolute;
                        width: 4px;
                        height: 100%;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        border-radius: 0 3px 3px 0;
                        background: hsl( 139.41deg 58.62% 54.51% );
                        z-index: 1;
                        // background-color: hsl( 228deg 12.2% 40.2% );
                        color: hsl( 0deg 0% 100% );
                        font-weight: 700;
                    }


           
                    
                }
            }
            .container-content-center {
                width: 100%;
                flex-grow: 1;
                padding: 1.5rem 1rem 2rem 2rem;
            }
        }

        .app-footer-component {
            // width: 100%;
            // // height: 20%;
            // // end of page
            // position: absolute;
            // bottom: 0;
            width: 100%;

        }
        
    }

}


