.header-text {
  font-size: 1.2rem;
  color: white;
  font-weight: 800;
  // font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  line-height: 1.2;
  margin: 0 0 10px;
}

.text-normal {
    margin: 0.5rem 0 0.5rem 0;
    color: hsl( 230deg 12% 80.39% );
    font-size: 1rem;
}

.header-button {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-bottom: 0.25em;
  line-height: 1.5;
  font-size: 15px;
  color: white;
}

.button-click-settings {
  margin-top: 1rem;
  background: hsl(228deg 12.2% 40.2%);
  color: white;
  outline-offset: 3px;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  position: relative;
  font-family: inherit;
  font-size: 1rem;
  text-shadow: none;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  background: hsl(227.37deg 12.26% 30.39%);
  color: white;
  padding: 10px 16px;
  border-radius: 4px;
  border: 3px solid transparent;
  text-align: center;
  justify-content: center;
  &:hover {
    background: hsl(228deg 12.2% 40.2%);
    color: white;
    outline-offset: 3px;
  }
}

.text-italic {
  font-size: 0.8rem;
  font-style: italic;
  color: hsl(225.88deg 13.39% 75.1%);
}

.label-button-text {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-bottom: 0.125em;
  line-height: 1.5;
  font-size: 15px;
  color: white;
}


.content-section {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0,32fr) minmax(0,68fr);
    grid-gap: 1rem;
    margin-bottom: 2rem;
}

.change-information{
    // display: flex;
    // display: inline;
    background: hsl( 232.5deg 11.76% 13.33% );
    border-radius: 6px;
    padding: 2rem;
    grid-column: 2;
    display: grid;
    grid-template-columns: auto minmax(50%,1fr);
    grid-gap: 1rem;
}

.input-default-settings {
    background: hsl( 228deg 9.8% 90% );
    color: hsl( 225deg 9.52% 8.24% );
    border: 2px solid transparent;
    border-radius: 5px;
    padding: calc(1rem - 2px);
    font-size: .875rem;
    line-height: 1.1;
    max-width: 100%;
    width: 100%;
    margin-bottom: 0.5rem;

    &:hover, &:focus {
        border-color: hsl( 228.39deg 12.25% 50.39% );
        background: hsl( 0deg 0% 100% );
    }
}

.button-and-header-settings {
    display: block;
    // margin-bottom: 1rem;
    position: relative;
}

small {
    color: hsl( 225.88deg 13.39% 75.1% );
    display: block;
    strong {
        color: hsl( 0deg 0% 100% );
    }
}

p {
    color: white;
    font-size: 1rem;
    .link-to-another {
        text-decoration: none;
        color: hsl( 196.2deg 100% 73.14% );
    }
}

.toggle {
  cursor: pointer;
  display: inline-block;


  .toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.5s;
  }
  .toggle-switch:before, .toggle-switch:after {
    content: "";
  }
  .toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.5s;
  }
  .toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  }
  .toggle-checkbox:checked + .toggle-switch {
    background: #56c080;
  }
  .toggle-checkbox:checked + .toggle-switch:before {
    left: 30px;
  }
  
  .toggle-checkbox {
    position: absolute;
    visibility: hidden;
  }
  
  .toggle-label {
    margin: 0px 10px;
    position: relative;
    top: 2px;
    color: white;
  }
}

