<div class="all-comment-area">
    <div class="center-comment">
        <form class="comment-form" (ngSubmit)="onSubmit()">
            <textarea class="comment-textarea" 
                        placeholder="Want to know how I did this? Ask a question!
Feeling inspired? Let me know! 
Want to share how you used this Pen? 
Give the creator a confidence boost!" 
                        name="commentText"
                        [(ngModel)]="commentText"></textarea>
            <div class="button-area">
                <button class="comment-button">Comment</button>
            </div>
        </form>

        <div class="number_comment">
            <p class="no-comment" *ngIf="comment_length === 0"><strong>No Comments</strong><br>You can be the first!</p>
            <div class="has-comment" *ngIf="comment_length !== 0">
                <p class="number-comment"><strong>{{comment_length}} COMMENTS</strong></p>
                <div class="each-comment" *ngFor="let comment of data_comment">
                    <div class="comment-avatar">
                        <img *ngIf="comment.user.avatar_path; else defaultAvatar" [src]="comment.user.avatar_path"
                            alt="{{ comment.user.user_name }}">
                        <ng-template #defaultAvatar>
                            <img [src]="defaultAvatar" alt="{{ comment.user.user_name }}">
                        </ng-template>
                        <div class="name-time">
                            <p class="name">{{comment.user.user_name}}</p>
                            <p class="time">{{comment.createdAt}}</p>
                        </div>
                        <button class="reply-button" (click)="replyComent(comment.user_id, comment.user.user_name)">Reply</button>
                    </div>
                    <div class="comment-text">
                        <p>{{comment.comment}}</p>
                        <div class="action-comment">
                            <button class="edit-comment" (click)="editComent()">
                                <svg viewBox="0 0 100 100">
                                    <path
                                        d="M24.56 92.536 0 100l7.453-24.583c6.356-.244 17.322 10.792 17.107 17.119zM96.617 32.082l-.475.471L67.383 3.766l.472-.472c12.927-12.94 42.016 15.517 28.762 28.788zM61.64 9.516l28.758 28.785-46.303 46.345c-1.222 1.221-2.234.884-2.234.884l2.314-15.356-14.454.074.072-14.468-15.342 2.312s-.34-1.011.883-2.234L61.64 9.516z">
                                    </path>
                                </svg>
                                Edit
                            </button>
                            <button class="delete-comment" (click)="deleteComent(comment.comment_id)">
                                <svg viewBox="0 0 16 19">
                                    <path
                                        d="M.177 7.152A1 1 0 0 1 1.166 6h13.668a1 1 0 0 1 .989 1.152l-1.693 11a1 1 0 0 1-.988.848H2.858a1 1 0 0 1-.988-.848l-1.693-11ZM0 4a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1Z">
                                    </path>
                                    <path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5Z">
                                    </path>
                                </svg>
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-comment">
        <div class="share-link">
            <span class="share-text" style="color: hsl( 228.39deg 12.25% 50.39% ); margin-bottom: 10px">Share</span>
            <span class="list-link">
                <a class="twitter-link" style="border-top-left-radius: 4px; border-bottom-left-radius: 4px">
                    <svg viewBox="0 0 100 100" class="ItemDetailsShare-module_shareIcon-4I9dI">
                        <path
                            d="M100.001 17.942a39.965 39.965 0 0 1-11.783 3.339c4.236-2.624 7.49-6.779 9.021-11.73a40.289 40.289 0 0 1-13.026 5.146C80.47 10.575 75.138 8 69.234 8c-11.33 0-20.518 9.494-20.518 21.205 0 1.662.183 3.281.533 4.833-17.052-.884-32.168-9.326-42.288-22.155a21.637 21.637 0 0 0-2.778 10.659c0 7.357 3.622 13.849 9.127 17.65a19.94 19.94 0 0 1-9.293-2.651c-.002.089-.002.178-.002.268 0 10.272 7.072 18.845 16.458 20.793a19.939 19.939 0 0 1-9.264.365c2.609 8.424 10.187 14.555 19.166 14.726-7.021 5.688-15.867 9.077-25.48 9.077A40.59 40.59 0 0 1 0 82.473C9.08 88.491 19.865 92 31.449 92c37.737 0 58.374-32.312 58.374-60.336 0-.92-.02-1.834-.059-2.743a42.547 42.547 0 0 0 10.237-10.979z">
                        </path>
                    </svg>
                </a>
                <a class="dev-link">
                    <svg viewBox="0 0 200 200" class="ItemDetailsShare-module_shareIcon-4I9dI">
                        <path
                            d="M188 0H12A12 12 0 0 0 0 12v176a12 12 0 0 0 12 12h176a12 12 0 0 0 12-12V12a12 12 0 0 0-12-12ZM57.64 134.55C52.72 140.9 46 143 29.79 143H15.15V60.06h15.54C49 60.06 54.4 62 59.32 70c2.85 4.67 3.11 6.48 3.5 28.25.52 24.64-.26 30.08-5.18 36.3Zm56-60.24H86.4v19.43h16.84v14.12l-8 .39-8.16.39v19.43l13.34.39 13.21.39V143H96.11c-17 0-17.74-.13-20.72-3.24l-3.24-3.11v-34.88c0-33.29.13-35 2.72-38.34s2.72-3.37 20.73-3.37h18Zm51.56 60c-1.81 4.66-7 8.68-11 8.68-1.94 0-4.92-1.69-7.38-4.28-3.5-3.49-4.93-7-9.07-22.93-2.72-10.36-7.13-27.07-9.85-37.3l-4.92-18.4h8.29c4.53 0 8.29.26 8.29.52 0 .65 12.83 50 13.86 53.24.52 1.69 3.5-7.64 8-25.26l7.26-27.85 8.16-.39c4.4-.26 8 0 8 .39.01 1.53-18.38 70.19-19.68 73.56Z">
                        </path>
                        <path
                            d="M45.07 76.77c-2.07-1.68-5-2.46-9.32-2.46H29.4l.26 26.82.39 26.94 6.21-.13c4.54 0 6.87-.78 9.07-2.85 2.72-2.72 2.85-4 2.85-24.35 0-20.99-.13-21.51-3.11-23.97Z">
                        </path>
                    </svg>
                </a>
                <a class="copy-link" style="border-top-right-radius: 4px; border-bottom-right-radius: 4px">
                    <svg viewBox="0 0 8 8" class="ItemDetailsShare-module_shareIcon-4I9dI"
                        style="margin-right: 0.25em;">
                        <path
                            d="M5.88.03a1.9 1.9 0 0 0-.53.09c-.27.1-.53.25-.75.47a.5.5 0 1 0 .69.69c.11-.11.24-.17.38-.22.35-.12.78-.07 1.06.22.39.39.39 1.04 0 1.44l-1.5 1.5c-.44.44-.8.48-1.06.47-.26-.01-.41-.13-.41-.13a.5.5 0 1 0-.5.88s.34.22.84.25c.5.03 1.2-.16 1.81-.78l1.5-1.5A1.98 1.98 0 0 0 6.44.07C6.26.03 6.06.03 5.88.04zm-2 2.31c-.5-.02-1.19.15-1.78.75L.6 4.59a1.98 1.98 0 0 0 0 2.81c.56.56 1.36.72 2.06.47.27-.1.53-.25.75-.47a.5.5 0 1 0-.69-.69c-.11.11-.24.17-.38.22-.35.12-.78.07-1.06-.22-.39-.39-.39-1.04 0-1.44l1.5-1.5c.4-.4.75-.45 1.03-.44.28.01.47.09.47.09a.5.5 0 1 0 .44-.88s-.34-.2-.84-.22z">
                        </path>
                    </svg>
                    <span class="copy-text">Copy Link</span>
                </a>
            </span>
        </div>
        <div class="create-update-at">

            <div>
                <p class="create-at">
                    Created on
                </p>
                <time datetime="2023-10-21 21:08:46 UTC">October 22, 2023</time>

            </div>
            <div>
                <p class="update-at">Updated on
                </p>
                <time datetime="2023-10-21 21:08:46 UTC">October 22, 2023</time>

            </div>


        </div>
        <div class="loves-view">
            <h3>
                <svg viewBox="-2 0 105 92">
                    <path
                        d="M85.24 2.67C72.29-3.08 55.75 2.67 50 14.9 44.25 2 27-3.8 14.76 2.67 1.1 9.14-5.37 25 5.42 44.38 13.33 58 27 68.11 50 86.81 73.73 68.11 87.39 58 94.58 44.38c10.79-18.7 4.32-35.24-9.34-41.71Z">
                    </path>
                </svg>
                <span>{{data_loved}}</span> Loves

            </h3>
            <h3>
                <svg viewBox="0 0 30.5 16.5">
                    <path
                        d="M15.3 0C8.9 0 3.3 3.3 0 8.3c3.3 5 8.9 8.3 15.3 8.3s12-3.3 15.3-8.3C27.3 3.3 21.7 0 15.3 0zm0 14.5c-3.4 0-6.2-2.8-6.2-6.2C9 4.8 11.8 2 15.3 2c3.4 0 6.2 2.8 6.2 6.2 0 3.5-2.8 6.3-6.2 6.3z">
                    </path>
                </svg>
                <span>{{data_view}}</span> Views
            </h3>

        </div>
    </div>
</div>