.center-folder-tree {
  .search-bar {
    position: relative;
    border: 2px solid hsl(227.37deg 12.26% 30.39%);

    nav {
      width: 100%;

      input {
        width: 100%;
        padding: 0.5rem 1rem;
        outline: none;
        background: hsl(0, 0%, 100% / 0.8);
        color: rgb(0, 0, 0);
        font-size: 1rem;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        border-radius: 0.25rem;

        &:focus {
          background: white;
        }
      }




      button {
        background: hsl(0deg 0% 0%/0.5);
        border: none;
        fill: hsl(226.67deg 11.84% 70.2%);
        padding-right: 1rem;
        cursor: pointer;
        outline: none;
        text-align: left;
        width: 100%;

        svg {
          width: 16px;
          height: 16px;
          fill: hsl(228deg 12.2% 40.2%);
        }

        span {
          font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
          margin-right: 2px;
          color: hsl(228.39deg 12.25% 50.39%);
          margin-left: 0.5rem;
          font-size: 1rem;
          vertical-align: middle;
          position: relative;
          top: -1px;
        }
      }
    }

    .file-search-result {

      .file-search-result-item {
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        padding: 0rem 1rem;
        border-bottom: 1px solid #444857;
        background-color: #444857;
        cursor: pointer;

        &:hover {
          background-color: #323232;

          .file-search-result-item-name span {
            color: white;
          }
        }

        .file-search-result-item-name {
          color: white;
          font-weight: 300;
          padding: 0.3rem 0rem;
          ;
          display: flex;
          align-items: center;

          span {
            color: #9d9ea1;
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  background-color: #252731;

  .folder-tree-project {
    .header-folder-tree-project {
      display: flex;
      border-bottom: 3px solid hsl(227.37deg 12.26% 30.39%);
      justify-content: space-between;

      h2 {


        margin: 1rem;
        color: white;
        text-transform: none;
        font-size: 1.125rem;
        padding-bottom: 0.625rem;
        margin-bottom: 0;
      }

      .button-controler-file-folder {
        display: flex;
        margin-top: 0.5rem;
        margin-right: 1rem;

        div {
          cursor: pointer;

          svg {
            fill: hsl(228deg 12.2% 40.2%);
            color: hsl(228deg 12.2% 40.2%);
            width: 20px;
            height: 20px;
          }

          padding : 0px 2px;

        }

        div:hover {
          opacity: 1;
          background-color: #252731;

          svg {
            fill: white;
            color: white;
          }
        }



      }
    }


  }
}

ul {
  padding-left: 1rem;
  cursor: pointer;
}

li {
  list-style: none;
  color: #efefef;
  opacity: 0.9;
  font-size: 14px;
  letter-spacing: 0.3px;
  padding: 2px 0;

  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

svg {
  width: 0.9em;
  height: 1em;
  position: relative;
  left: 0.1rem;
  bottom: 0.1rem;
  margin-right: 0.5rem;
}


li .close-file {
  display: none;
}

li.active {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  opacity: 1;

}


.right-click.show {

  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

.right-click {
  z-index: 2001;
  position: absolute;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  opacity: 1;
  visibility: visible;

  color: white;
  position: absolute;
  bottom: 30px;
  right: 0px;
  width: max-content;


  transform: translateY(-10px);
  // opacity: 0;
  // visibility: hidden;
  transition: transform 0.15s ease-in-out, opacity 0.15s linear,
    visibility 0s linear;


  ul {
    list-style: none;
    margin-bottom: 0px;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: hsl(232.5deg 11.76% 13.33%);
    box-shadow: 0 2px 8px hsl(240deg 9.09% 4.31% / 60%);

    li {

      &:hover {
        background-color: #444857;
      }

      cursor: pointer;
      padding: 0.4rem 0.6rem;
      margin: 0px 3px;

      svg {
        width: 16px;
        height: 16px;
        fill: white;
      }
    }

    .delete-li:hover {
      background-color: red;
    }
  }
}