<div class="center-folder-tree">
    <div class="search-bar">
        <nav *ngIf="!click_search" (click)="changeStatusNav()">
            <button class="file-search-button mini-button">
                <svg viewBox="0 0 56.7 56.7">
                    <path
                        d="M42.8 7.3C33-2.4 17.1-2.4 7.3 7.3c-9.8 9.8-9.8 25.7 0 35.5 8.7 8.7 22.2 9.7 32 2.9l9.6 9.6c1.8 1.8 4.7 1.8 6.4 0 1.8-1.8 1.8-4.7 0-6.4l-9.6-9.6c6.8-9.8 5.8-23.3-2.9-32zm-6.2 29.3c-6.4 6.4-16.7 6.4-23.1 0s-6.4-16.7 0-23.1c6.4-6.4 16.7-6.4 23.1 0 6.4 6.4 6.4 16.8 0 23.1z">

                    </path>
                </svg>
                <span>Search Files</span>
            </button>
        </nav>

        <nav *ngIf="click_search" style="display: flex;">
            <input type="search" placeholder="Search Files" [(ngModel)]="search" (ngModelChange)="searchFiles(search)"
                style="    width: inherit;">
            <button class="file-search-button mini-button" (click)="changeStatusNav()" style="width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;">
                <!-- svg x -->
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512"
                    style="margin-right: 0">
                    <path
                        d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z" />
                </svg>
            </button>
        </nav>

        <div class="file-search-result" *ngIf="click_search">
            <div class="file-search-result-item" *ngIf="list_files_search.length == 0">
                <div class="file-search-result-item-name">
                    <span>There are no match yets.</span>
                </div>
            </div>

            <div class="file-search-result-item" *ngFor="let file of list_files_search" (click)="choose_search(file)">
                <div class="file-search-result-item-name">
                    <span>{{file}}</span>
                </div>

            </div>

        </div>
    </div>
    <div class="folder-tree-project" > 
        <div class="header-folder-tree-project">
            <h2>Files</h2>
            <div class="button-controler-file-folder">
                <div class="add-file" (click)="onCreateFile()">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4 7H3V4H0V3H3V0H4V3H7V4H4V7ZM10.5 1.09998L13.9 4.59998L14 5V13.5L13.5 14H3.5L3 13.5V8H4V13H13V6H9V2H5V1H10.2L10.5 1.09998ZM10 2V5H12.9L10 2Z" />
                    </svg>
                </div>
                <div class="add-folder" (click)="onCreateFolder()">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M7 3H4V0H3V3H0V4H3V7H4V4H7V3ZM5.5 7H5V6H5.3L6.1 5.1L6.5 5H14V4H8V3H14.5L15 3.5V13.5L14.5 14H1.5L1 13.5V6.5V6V5H2V6V6.5V13H14V7V6H6.7L5.9 6.9L5.5 7Z" />
                    </svg>
                </div>
                <div class="remove-file-folder" (click)="onRemoveFileFolder()">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M10 3H12H13V4H12V13L11 14H4L3 13V4H2V3H5V2C5 1.73478 5.10531 1.48038 5.29285 1.29285C5.48038 1.10531 5.73478 1 6 1H9C9.26522 1 9.51962 1.10531 9.70715 1.29285C9.89469 1.48038 10 1.73478 10 2V3ZM9 2H6V3H9V2ZM4 13H11V4H4V13ZM6 5H5V12H6V5ZM7 5H8V12H7V5ZM9 5H10V12H9V5Z" />
                    </svg>


                </div>
            </div>

        </div>
        <div id="folder-tree-file" (click)="$event.stopPropagation() " (contextmenu)="openContextMenu($event)">
        </div>
    </div>
</div>



<div class="right-click" *ngIf="content_file_folder_selected" [style.left]="mouseX" [style.top]="mouseY">
    <ul>
        <li (click)="renameFileFolderSelected()">
           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white"><path fill-rule="evenodd" clip-rule="evenodd" d="M4 9H15V15H4V9ZM6 11V13H13V11H6Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M14 2H20V4H18V6H23V18H18V20H20V22H14V20H16V18H1V6H16V4H14V2ZM16 8H3V16H16V8ZM18 16H21V8H18V16Z" fill="white"/></svg>
            Rename
        </li>
        <li (click)="copyPathFileFolderSelected()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" id="copy"><path fill="white" d="M4.00029246,4.08524952 L4,10.5 C4,11.8254834 5.03153594,12.9100387 6.33562431,12.9946823 L6.5,13 L10.9143985,13.000703 C10.7082819,13.5829319 10.1528467,14 9.5,14 L6,14 C4.34314575,14 3,12.6568542 3,11 L3,5.5 C3,4.84678131 3.41754351,4.29108512 4.00029246,4.08524952 Z M11.5,2 C12.3284271,2 13,2.67157288 13,3.5 L13,10.5 C13,11.3284271 12.3284271,12 11.5,12 L6.5,12 C5.67157288,12 5,11.3284271 5,10.5 L5,3.5 C5,2.67157288 5.67157288,2 6.5,2 L11.5,2 Z"></path></svg>
            Copy path
        </li>
        <li (click)="deletedFileFolderSelected()">
            <svg viewBox="0 0 16 19">
                <path
                    d="M.177 7.152A1 1 0 0 1 1.166 6h13.668a1 1 0 0 1 .989 1.152l-1.693 11a1 1 0 0 1-.988.848H2.858a1 1 0 0 1-.988-.848l-1.693-11ZM0 4a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1Z">
                </path>
                <path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5Z">
                </path>
            </svg>
            Delete

        </li>
    </ul>
</div>