.ContentGridUser {
    position: relative;
    width: 100%;
}

.ContentGridUser_userAndMenu {
    padding: 1rem 0;
    position: relative;
}

.authorAvatar {
    margin-right: 0;
}

.authorAvatar img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.ContentGridUserColumn {
    grid-template-columns: 50px 1fr;
    display: grid;
    align-items: center;
    grid-gap: 0.75rem;
}

.ContentGridUser_userHeader {
    display: flex;
    align-items: center;
}

.ContentGridUser_userTitle {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    color: white;
    font-weight: 900;
    font-size: 17px;
}

.ContentGridUser_userTitle a {
    text-decoration: none;
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    color: white;
    font-weight: 900;
    font-size: 17px;
    white-space: nowrap;

}

.ContentGridUser_minimalPenCount {
    display: flex;
    margin: 0.15rem 0;
    color: hsl( 226.67deg 11.84% 70.2% );
    font-size: .9rem;
}

button svg {
    width: 10px;
    height: 10px;
    vertical-align: middle;
}





button.ContentGridUser_followButton {
    line-height: 12px;
    margin-left: 6px;
    color: black;
    background-color: hsl( 139.41deg 58.62% 54.51% );
    border-radius: 4px;
    border: 1px solid ;
    margin-bottom: 2px;
}

button.ContentGridUser_followButton:hover {
    background-color: hsl( 139.41deg 58.62% 44.51% );
    color: white;
    fill: white;
    border-color: hsl( 139.41deg 58.62% 44.51% );
}

.ContentGridUser_popularPenPreviews {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 0.5rem;
    margin: 0 -1rem 0.25rem 0;
    position: relative;
}

.ItemPreviewImage {
    // position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ContentGridItemBackground {
    padding: 1rem 0;
    position: absolute;
    // width: 100%;
    // height: 100%;
    background-color: hsl( 232.5deg 11.76% 13.33% );
    // margin: -1rem;
    border-radius: 10px;
    margin: -1.5rem;
    margin-top: -1rem;
    width: 120%;
    height: 120%;
    clip-path: inset(20px 30px 0px 30px round 10px);
    transition: clip-path 0.3s ease-in-out;
}



.ContentGridUser:hover > .ContentGridItemBackground {
    // clip-path: inset(0 0 0 0 round 10px);
    clip-path: inset(10px 30px 0px 10px round 10px);
    // time 0.2s in and out
    transition: clip-path 0.3s ease-in-out;
    transition-delay: 0s;
    // background-color: green;

}

.ContentGridUser_popularPenPreviews img {
    border-radius: 10px;
}