.ContentGridUser {
    position: relative;
    width: 100%;
}

.ContentGridUser_userAndMenu {
    padding: 1rem 0;
    position: relative;
}

.authorAvatar {
    margin-right: 0;
}

.authorAvatar img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.ContentGridUserColumn {
    grid-template-columns: 50px 1fr;
    display: grid;
    align-items: center;
    grid-gap: 0.75rem;
    
}

.ContentGridUser_userHeader {
    display: flex;
    align-items: center;
}

.output-field {
    border-radius: 8px;
    height: 100%;
    iframe {
        border-radius: 8px;
        width: 100%;
        height: 100%;
        pointer-events: none;
        cursor: pointer;
    }
}

.ContentGridUser_userTitle {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    color: white;
    font-weight: 900;
    font-size: 17px;
}

.ContentGridUser_userTitle a {
    text-decoration: none;
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    color: white;
    font-weight: 900;
    font-size: 17px;
    white-space: nowrap;

}

.ContentGridUser_minimalPenCount {
    display: flex;
    margin: 0.15rem 0;
    color: hsl( 226.67deg 11.84% 70.2% );
    font-size: .9rem;
}

button svg {
    width: 10px;
    height: 10px;
    vertical-align: middle;
}


.follow-button {
    margin-left: 7px;
    background: #2acc5d;
    color: #000000;
    border: none;
    padding: 1px 6px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 10.5px;

    &:hover {
        background: #039c52;
    }
}

.follow-button.following {
    background: hsl( 228deg 12.2% 40.2% );
    color: #fff;
    border: none;
    padding: 1px 6px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 10.5px;
    svg {
        width: 10px;
        margin-right: 3px;
        fill: #fff;
    }

    &:hover {
        background-color: red;;
        color: black;
    }


}


.ContentGridUser_popularPenPreviews {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 0.5rem;
    margin: 0 -1rem 0.25rem 0;
    position: relative;
    grid-template-rows: 65%;
    .border-iframe {
        height: 100%;
    }
}

.output-field{
    background-color: white;
    iframe {
        border-radius: 20;
    }
    
}

.ItemPreviewImage {
    // position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ContentGridItemBackground {
    padding: 1rem 0;
    position: absolute;
    background-color: hsl(232.5, 11.76%, 13.33%);
    border-radius: 10px;
    margin: -1rem;
    margin-top: -0.5rem;
    width: 110%;
    height: 90%;
    clip-path: inset(13px 0px 0px 25px round 10px);
    transition: clip-path 0.3s ease-in-out;
}



.ContentGridUser:hover > .ContentGridItemBackground {
    clip-path: inset(0 0 0 0 round 10px);
    // clip-path: inset(10px 30px 0px 10px round 10px);
    // time 0.2s in and out
    transition: clip-path 0.3s ease-in-out;
    transition-delay: 0s;
    // background-color: green;

}

.ContentGridUser_popularPenPreviews img {
    border-radius: 10px;
}