<div class="body_login">
    <section class="center_body">
        <div class="login-header">

            <h1 class="login-logo" style="margin-left: 35px;">CODE</h1>
            <div class="login-text">Log In</div>
        </div>

        <div class="flex-grid">
            <div class="login-half right">
                <div class="login-area">
                    <form class="login-form top-label-form" (submit)="onLoginFormSubmit()">
                        <div id="login-email" class="field">
                            <label for="login-email-field">Username or Email</label>
                            <input type="text" id="login-email-field" name="login-email-field" [(ngModel)]="gmail">
                        </div>
                        <div id="login-password" class="field">
                            <label for="login-password-field">Password</label>
                            <input type="password" id="login-password-field" name="login-password-field"
                                [(ngModel)]="password">
                        </div>
                        <div>
                            <button id="login-button" class="button-primary">Log In</button>
                            <div class="error-message" *ngIf="loginError">{{ loginError }}</div>
                            <div href="/pen" id="forgot-password-link" (click)="openForgotPassword()">
                                Forgot Password?
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
        <div *ngIf="forgotPassword" class="form-login" style="    display: flex;
        justify-content: center;">
            <form class="module login-form top-label-form" id="forgot-password-form" action="#0"
                style="display: block;">
                <h3>Reset Your Password</h3>
                <div class="field">
                    <label for="forgot-email">Username Or Email</label>
                    <input type="text" id="forgot-email" name="forgot-email" name="gmail" [(ngModel)]="gmail"
                        placeholder="your@email.com" required="">
                </div>
                <div class="field">
                    <button id="forgot-email-btn" class="button button-medium button-fullwidth"
                        (click)="forgotPass()">Send Password Reset Email</button>
                </div>
                <div id="sent-message">
                    <div id="sent-message-message"></div>
                </div>
            </form>
        </div>

        <div class="signup-callout">
            Need an account? <a href="/signup">Sign up now!</a>
        </div>
    </section>
</div>