.center-your-work-deleted {
    margin: -1.5% 5.5% 0 5.5%;
    position: relative;
    padding-top: 10px;
    border-top: 2px hsl( 358.46deg 100% 61.76% ) solid;


    display: grid;
    grid-template-columns: 1fr 225px;
    grid-gap: 20px;
    .list-delete {
        
        .item-delete {
            padding: 10px 0px 5px 0px;
            position: relative;
        display: flex;
        border-bottom: hsl( 222.86deg 13.73% 20% ) 1px solid;

            h2 {
                color: white;
                font-size: 1rem;
                font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
                font-weight: 700;
                margin-bottom: 0;
                max-width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: flex;
                align-items: center;
                svg {
                    width: 1em;
                    height: 1em;
                    fill: hsl( 226.15deg 12.04% 57.65% );
                    margin-inline-end: .5rem;
                }
            }
            

        }

        button {
            color: white;
            background-color: hsl( 227.37deg 12.26% 30.39% );
            -webkit-appearance: none;
            display: inline-flex;
            align-items: center;
            vertical-align: middle;
            position: relative;
            font-family: inherit;
            font-size: 0.8rem;
            text-shadow: none;
            line-height: 1.2;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-decoration: none!important;
            font-weight: 400!important;
            cursor: pointer;
            padding: 3px 7px;
            margin: 0 4px 0 0;
            border-radius: 2px;
            border: 1px solid transparent;
            text-align: center;
            justify-content: center;
            transition: .2s ease;

        }


        .restore-delete-button {
            top: 50%;
            transform: translate(0, -50%);
            cursor: pointer;
            right: 0;
            position: absolute;
            .restore-button:hover {
                background-color: hsl( 139.41deg 58.62% 54.51% );
                color: black;
                transition: .2s ease;
            }
            .delete-button:hover {
                background-color: red;
                transition: .2s ease;
            }
        
        
        }
    }

    .right-content {
        display: block;
        padding: 20px;
        position: relative;
        background: hsl( 222.86deg 13.73% 20% );
        border-radius: 6px;
        margin: 10px 0 20px;
        height: fit-content;

        h3 {
            color: white;
            font-size: 1.4rem;
            font-weight: 700;
            border-bottom: 3px solid hsla( 0deg,0%,100%,0.1);
        padding-bottom: 10px;
        position: relative;
        }

        p {
            color: hsl( 225.88deg 13.39% 75.1% )
        }
    }
}