<div class="body">
    <section id="main-section">
        <div class="input-section">
            <div class="html-field">
                <label><i class="fa-brands fa-html5 fa-lg"></i> HTML</label>
                <textarea #htmlTextarea></textarea>
            </div>

            <div class="stylesheet-field">
                <label>
                    <i
                        [ngClass]="stylesheetLanguage === 'css' ? 'fa-brands fa-css3-alt fa-lg' : 'fa-brands fa-sass fa-lg'"></i>
                    {{ stylesheetLanguage.toUpperCase() }}
                    <select class="stylesheet-select" [(ngModel)]="stylesheetLanguage">
                        <option value="css">CSS</option>
                        <option value="scss">SCSS</option>
                    </select>
                </label>
                <textarea #stylesheetTextarea></textarea>
            </div>

            <div class="js-field">
                <label><i class="fa-brands fa-js fa-lg"></i> JS</label>
                <textarea #jsTextarea></textarea>
            </div>
        </div>

        <div class="output-section" [style.height]="showConsole ? '25%' : '50%'">
            <div class="output-field">
                <iframe id="output" title="Code Output Display" #outputFrame></iframe>
            </div>
        </div>
        
    </section>
    <div class="console-box" *ngIf="showConsole" #consoleBox>
        <button (click)="clearConsole()" class="clear-btn">Clear</button>
        <div class="messages-box">
            <pre *ngFor="let message of consoleMessages">{{ message }}</pre>
        </div>
    </div>      
    
    <button (click)="toggleConsole()">Console</button>
    
</div>