<div class="body">
    <section id="main-section">
        <!-- Thêm tham chiếu biến inputSection ở đây -->
        <div #inputSection class="input-section resizable" (mousedown)="startResizing($event)">
            <div class="html-field">
                <label><i class="fa-brands fa-html5 fa-lg"></i> HTML</label>
                <textarea #htmlTextarea></textarea>
            </div>

            <div class="stylesheet-field">
                <label>
                    <i
                        [ngClass]="stylesheetLanguage === 'css' ? 'fa-brands fa-css3-alt fa-lg' : 'fa-brands fa-sass fa-lg'"></i>
                    {{ stylesheetLanguage.toUpperCase() }}
                    <select class="stylesheet-select" [(ngModel)]="stylesheetLanguage">
                        <option value="css">CSS</option>
                        <option value="scss">SCSS</option>
                    </select>
                </label>
                <textarea #stylesheetTextarea></textarea>
            </div>

            <div class="js-field">
                <label><i class="fa-brands fa-js fa-lg"></i> JS</label>
                <textarea #jsTextarea></textarea>
            </div>
        </div>
        <div #resizer class="resizer" (mousedown)="startResizing($event)"></div>

        <!-- Thêm tham chiếu biến outputSection ở đây -->
        <div #outputSection class="output-section resizable" (mousedown)="startResizing($event)">
            <div class="output-field">
                <iframe id="output" title="Code Output Display" #outputFrame></iframe>
            </div>
        </div>
    </section>

    <section id="footer">
        <div class="copyright">
            <p>Copyright ©️ by UETers</p>
        </div>
    </section>
</div>
