.body {
    background: #040404;
    color: #fff;
    margin: 0;
    overflow-x: auto;
    padding: 0;
}

/* Main section */
.input-section,
.output-section {
    border-radius: 10px;
    display: flex;
    height: 48%;
    overflow: auto;
    padding: 0 5px;
}

.input-section {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.input-section div {
    background: #1D1E22;
    border: none;
    border-radius: 15px;
    flex-basis: 33%;
}

.input-section div label {
    background: #060606;
    border: none;
    border-radius: 5px;
    display: block;
    font-size: 17px;
    padding: 5px 10px;
    padding-right: 10px;
}

.html-field,
.stylesheet-field,
.js-field {
    border: none;
    flex: 1;
    padding: 5px;
}

.input-section div textarea {
    overflow: auto;
    resize: both;
    width: 100%;
}

.stylesheet-select {
    background: #27282d;
    float: right;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    height: 30px; // Đặt chiều cao cố định cho hộp chọn
    width: 80px; // Đặt chiều rộng cố định cho hộp chọn
}

.stylesheet-select:hover {
    background: #222327;
}

.stylesheet-select:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

/* Use a more stylish arrow for the dropdown */
.stylesheet-select::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 15px;
    /* Adjusted positioning */
    transform: translateY(-50%);
    color: #777;
    /* Subtle color for the arrow */
    pointer-events: none;
}


.CodeMirror {
    white-space: normal;
}

.output-field {
    border: none;
    border-radius: 15px;
    width: 100%;
}

.resizer {
    background: #888;
    cursor: ns-resize;
    height: 5px;
}

#main-section {
    display: flex;
    flex-direction: column;
    min-height: 620px;
}

iframe {
    background: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    min-height: 300px;
}

/* Footer section */
.copyright {
    background-color: #1D1E22;
    color: white;
    font-size: 16px;
    padding: 5px 20px;
    text-align: center;
    width: 100%;
}

/* CSS for small screens */
@media only screen and (max-width: 750px) {
    #header {
        padding: 6px 10px;
    }

    .right ul li {
        margin: 0;
    }

    .right ul .save,
    .right ul .settings,
    .right ul .view {
        display: none;
    }

    .right ul .submenu,
    .mobile-menu li a {
        border-radius: 4px;
        color: #fff;
        display: inline-block;
        padding: 8px 16px;
        text-decoration: none;
    }

    .mobile-menu {
        background: #3a3a3a;
        border-radius: 4px;
        display: inline-block;
        position: absolute;
        right: -400px;
        top: 50px;
        transition: right 0.5s;
        width: 150px;
    }

    .mobile-menu li {
        list-style: none;
        margin: 10px 2px;
    }

    .mobile-menu .close {
        border-radius: 4px;
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        right: 15px;
        top: 10px;
    }

    .input-section {
        padding: 0 10px;
    }

    .input-section div {
        flex-basis: 48%;
    }

    .input-section .js-field {
        flex-basis: 98%;
    }

    .input-section .js-field textarea {
        height: 200px;
        width: 100%;
    }

    .copyright {
        font-size: 14px;
        padding: 5px 15px;
    }
}