.all-screen {
    // tạo ra 1 vùng mờ và không tương tác được với người dùng (ngăn người dùng click vào thành phần khác ngoài component)
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 0%, 0.6);

}

.create-new-collection {
    position: fixed;
    z-index: 1000;


    border: 3px solid hsl( 228deg 11.63% 16.86% );
    box-shadow: 0 5px 30px hsl( 240deg 9.09% 4.31% / 60%);
    background: hsl( 225deg 9.52% 8.24% );
    color: hsl( 0deg 0% 100% );
    top: 70px;
    left: 1rem;
    right: 1rem;
    margin: 0 auto auto;
    padding: 0;
    border-radius: 6px;
    transform-origin: center center;
    width: 700px;
    height: auto;
    display: grid;
    grid-template-rows: auto minmax(0,1fr) auto;
    max-width: 35em;
    max-height: calc(100% - 70px - 2rem);
    .header-new-collection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid hsl( 223.64deg 12.94% 16.67% );
        margin: .375rem 0 0;
        padding-right: 1rem;

        .title-new-collection {
            // font-family: var(--cp-font-family);
            // 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif
            font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
            color: inherit;
            margin: .2rem auto -2px 0;
            font-size: 1.125rem;
            font-weight: 700;
            border-bottom: 2px solid hsl( 139.41deg 58.62% 54.51% );
            padding: .625rem 1rem;
        }


        .btn-close-new-collection {
            display: inline-block;
            font-size: .8rem;
            background-color: hsl( 227.37deg 12.26% 30.39% );
            color: white;
            border-radius: 2px;
            border: 1px solid transparent;
            &:hover {
                background-color: hsl( 228deg 12.2% 40.2% );
                color: white;
            }
            &:active {
                transform: translateY(1px);
            }
            svg {
                width: 10px;
                height: 10px;
                vertical-align: middle;
                margin-top: -3px;
                fill: currentColor;
            }
            
        }
    }

    .body-new-collection {
        grid-row: 2;
        padding: 1.25rem;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .footer-new-collection {
        display: inline-flex;
        align-items: center;
        justify-content:space-around;
        margin-bottom: 1rem;
        .center-save-collection {
            // justify-content: center;
            // display: flex;
            button {
                -webkit-appearance: none;
                display: inline-flex;
                align-items: center;
                vertical-align: middle;
                position: relative;
                font-family: inherit;
                font-size: 1rem;
                text-shadow: none;
                line-height: 1.2;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-decoration: none!important;
                font-weight: 400!important;
                cursor: pointer;
                background: hsl( 139.41deg 58.62% 54.51% );
                color: #000;
                padding: 10px 16px;
                margin: 1px 10px 1px 0;
                border-radius: 4px;
                border: 3px solid transparent;
                text-align: center;
                justify-content: center;
                &:hover {
                    background-color: hsl( 139.62deg 59.09% 34.51% );
                    color: white;
                }

                &:active {
                    transform: translateY(1px);
                }
            }
        }
    }

    

}