<div class="content-container">
    <div class="row-section">
        <div class="content-section">
            <div class="information-about">
                <h3 class="header-text">Browsing</h3>
                <div class="text-normal">
                    You can use images instead of iframes when browsing CodePen. Images are faster, but less accurate and not animated.
                </div>
            </div>
            <div class="change-information">
                <label class="toggle">
                    <span class="toggle-label">iframes</span>
                    <input class="toggle-checkbox" type="checkbox" checked>
                    <div class="toggle-switch"></div>
                    <span class="toggle-label">images</span>
                </label>
            </div>
        </div>
        
    </div>
</div>