.full-page {
  position: relative;
  background: hsl(225deg 9.52% 8.24%);
  height: auto;
  display: flex;
  overflow-x: hidden;

  .app-sidebar-component {
    width: 180px;
  }

  .right-content {
    height: fit-content;
    flex: 1;

    .app-search-component {
      width: 100%;
      height: 15%;
    }

    .search-control {
      margin-bottom: 2rem;
      border: none;
      padding: 16px 12px 0 12px;
      ;

      .center-search-control {
        border-top: 4px solid hsl(196.18deg 100% 52.75%);
        background: hsl(232.5deg 11.76% 13.33%);
        margin-bottom: 1px;
        padding: 10px 10px 0;
        display: flex;
        flex-wrap: wrap;

        a {
          margin-bottom: 10px;
          text-decoration: none;


          &:hover {
            span {
              color: hsl(0deg 0% 100%);
              background-color: hsl(228deg 12.2% 40.2%);
            }

          }

          span {
            cursor: pointer;
            background: hsl(222.86deg 13.73% 20%);
            padding: 0.5rem 0.75rem;
            color: hsl(233.33deg 9.89% 64.31%);
            line-height: 1;
            transition: background 0.2s ease;

            -webkit-appearance: none;
            display: inline-flex;
            align-items: center;
            vertical-align: middle;
            position: relative;
            font-family: inherit;
            font-size: 1rem;
            text-shadow: none;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-decoration: none !important;
            font-weight: 400 !important;
            margin: 1px 10px 0px 1px;
            border-radius: 4px;
            border: 3px solid transparent;

            svg {
              margin-right: 0.35em;
              width: 16px;
              height: 16px;
              min-height: 1.2em;
              display: inline-block;
              pointer-events: none;
              vertical-align: bottom;
              fill: hsl(233.33deg 9.89% 64.31%);
            }
          }
        }

        #pen-button.active {
          svg {
            fill: hsl(196.18deg 100% 52.75%);
          }
        }

        #collection-button.active {
          svg {
            fill: hsl(274.88deg 70.49% 64.12%);
          }
        }

        #project-button.active {
          svg {
            fill: yellow;
          }
        }

      }

      .center-search-control.pen-control {
        border-top: 4px solid hsl(196.18deg 100% 52.75%);
      }

      .center-search-control.collection-control {
        border-top: 4px solid hsl(274.88deg 70.49% 64.12%);
      }

      .center-search-control.project-control {
        border-top: 4px solid yellow;
      }


    }


    .center-content {
      padding-right: 5%;
      padding-left: 5%;
      margin-bottom: 100px;
      min-height: 700px;
    }

    .app-footer-component {
      width: 100%;
    }
  }
}