<!--  file này để + các component với nhau (sidebar, search, body-home, following-center, footer) -->

<div class="full-page">
    <div class="app-sidebar-component">
        <app-sidebar class="app-side-bar-container"></app-sidebar>
    </div>
    <div class="right-content">
        <div class="app-search-component">
            <app-header></app-header>
        </div>
        <!-- <appcreate-new-collection></appcreate-new-collection> -->

        <div class="search-control">
            <div class="center-search-control">
                <a href="/your-work/pens">
                    <span data-has-icon="true">
                        <svg viewBox="0 0 71 89" class="SearchControlsType_icon-ZKqgb">
                            <path
                                d="M67.783 66.757c-3.771-5.87-8.347-9.685-14.883-11.845 0 0-4.932-2.547-17.825-2.547-12.894 0-17.824 2.547-17.824 2.547C10.713 57.09 6.14 60.887 2.36 66.757.857 69.067.056 73.716 0 76.195c.02.645 0 1.391 0 2.14v4.28-2.954c0 4.734 3.216 8.568 7.188 8.568h55.756c3.972 0 7.188-3.834 7.188-8.568v2.955-4.28c0-.75-.01-1.496 0-2.14-.048-2.48-.86-7.129-2.35-9.439m-52.37-46.875c0 10.972 6.818 27.097 19.653 27.097 12.62 0 19.646-16.125 19.646-27.097C54.711 8.91 45.913 0 35.065 0 24.21 0 15.41 8.91 15.41 19.882">

                            </path>
                        </svg>
                        Your Work
                    </span>
                </a>
                <a id="pen-button" class="active" (click)="clickButton('pen')"><span data-has-icon="true"><svg
                            viewBox="0 0 20 20" class="SearchControlsType_icon-ZKqgb">
                            <path
                                d="M0 9.002C0 8.45.455 8 .992 8h18.016c.548 0 .992.456.992 1.002v9.996c0 .553-.455 1.002-.992 1.002H.992C.444 20 0 19.544 0 18.998V9.002Zm0-8C0 .45.451 0 .99 0h4.02A.99.99 0 0 1 6 1.003v4.994C6 6.551 5.549 7 5.01 7H.99A.99.99 0 0 1 0 5.997V1.003Zm7 0C7 .45 7.451 0 7.99 0h4.02A.99.99 0 0 1 13 1.003v4.994C13 6.551 12.549 7 12.01 7H7.99A.99.99 0 0 1 7 5.997V1.003Zm7 0C14 .45 14.451 0 14.99 0h4.02A.99.99 0 0 1 20 1.003v4.994C20 6.551 19.549 7 19.01 7h-4.02A.99.99 0 0 1 14 5.997V1.003Z">
                            </path>
                        </svg>Pens</span></a>
                <a id="collection-button" (click)="clickButton('collection')"><span data-has-icon="true"><svg
                            viewBox="0 0 20 20" class="SearchControlsType_icon-ZKqgb">
                            <path
                                d="M7 .995C7 .445 7.447 0 7.999 0H19c.552 0 .999.456.999.995v8.01c0 .55-.447.995-.999.995H8C7.447 10 7 9.544 7 9.005V.995Zm0 11.003c0-.551.447-.998.999-.998H19c.552 0 .999.446.999.998v7.004c0 .551-.447.998-.999.998H8A.998.998 0 0 1 7 19.002v-7.004ZM0 .992C0 .444.451 0 .99 0h4.02c.546 0 .99.455.99.992v18.016a.996.996 0 0 1-.99.992H.99a.999.999 0 0 1-.99-.992V.992Z">
                            </path>
                        </svg>Projects</span></a>
                <a id="project-button" (click)="clickButton('project')"><span data-has-icon="true"><svg
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            class="SearchControlsType_icon-ZKqgb">
                            <rect y="10.36" width="9.64" height="9.64" rx="1" ry="1"></rect>
                            <rect x="10.36" y="10.36" width="9.64" height="9.64" rx="1" ry="1"></rect>
                            <rect width="9.64" height="9.64" rx="1" ry="1"></rect>
                            <rect x="10.36" width="9.64" height="9.64" rx="1" ry="1"></rect>
                        </svg>Collections</span></a>
            </div>
        </div>


        <div class="center-content">
            <app-list-item-grid-code *ngIf="type=='pen'" [pen_ids]="pen_ids"></app-list-item-grid-code>
            <!-- <app-list-item-grid-collection *ngIf="type=='collection'" [collection]="collection_ids"></app-list-item-grid-collection> -->
            <app-list-item-grid-code *ngIf="type=='project'" [pen_ids]="pen_ids"></app-list-item-grid-code>


        </div>
        <div class="app-footer-component">
            <app-footer></app-footer>
        </div>
    </div>


</div>