<div class="body">
    <section id="main-section">
        <div class="input-section">
            <div class="html-field">
                <label><i class="fa-brands fa-html5 fa-lg"></i> HTML</label>
                <textarea #htmlTextarea></textarea>
            </div>
            <div class="css-field">
                <label><i class="fa-brands fa-css3-alt fa-lg"></i> CSS</label>
                <textarea #cssTextarea></textarea>
            </div>
            <div class="js-field">
                <label><i class="fa-brands fa-js fa-lg"></i> JS</label>
                <textarea #jsTextarea></textarea>
            </div>
        </div>
        <div class="output-section">
            <div class="output-field">
                <iframe id="output" title="Code Output Display" #outputFrame></iframe>
            </div>
        </div>
    </section>
    
    <section id="footer">
        <div class="copyright">
            <p>Copyright ©️ by UETers</p>
        </div>
    </section>
</div>