.code-box-container {
    width: 300px;
    height: 140px;
    background: #1d1e22;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .5);
    border-radius: 6px;
    overflow: hidden;

    header {

        display: grid;
        grid-template-columns: 36px auto 36px;
        align-items: center;

        svg {
            margin: 10px;
        }

        h1 {
            font-family: Lato, sans-serif;
            font-weight: 900;
            font-size: 13px;
            letter-spacing: 1.57px;
            color: #c5c8d4;
            margin: 0;
        }

    }

}