<mat-sidenav-container class="main-sidebar">
    <mat-sidenav mode="side" opened class="Sidebar-module_root-Yc985">
      <div class="Sidebar-module_inner-0f4yC">
        <h1 class="Logo-module_root-ojP5q"  data-test-id="logo">Logo</h1>
        <div class="Sidebar Toggle-module_toggleDesktop-4IY33"></div>
        <div class="Sidebar Toggle-module_toggleMobile-SXem2"> </div>
        <nav class="navigation-wrap Sidebar-module_navigationWrap-TxR" role="navigation">
          <div class="SidebarCreate-module_root-uXkQg"></div>
          <div class="SidebarGroup-module_root-yc4hW"></div>
          <div class="SidebarGroup-module_root-yc4hW"></div>
          <div class="SidebarGroup-module_root-yc4hW"></div>
          <div class="SidebarAd-module_root-xErcw"></div>
        </nav>
      </div>
    </mat-sidenav>
</mat-sidenav-container>
  