.change-information.billing-settings {
    display: flex;
    // justify-content: center;
    // align-items: center;
   justify-content: center;
   p {
    // display: inline;
    margin: 0;
   }
   button {
    margin: 0;
   }
}

.prvacy-settings.button-click-settings {
    width: 25%;
    color: black;
    background-color: hsl( 49.32deg 100% 62.55% );
    &:hover {
        background-color:hsl( 49.22deg 100% 42.55% );
        color: white;
    }
}