<!-- <ng-template #content let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title">Code pen</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">
        <button (click)="onNavbarButtonClick()">Start Coding</button>
        <button>Search</button>
    </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="openStaticBackdrop(content)">Static backdrop</button>

<input type="text" placeholder="Search">

<button class="btn btn-primary" (click)="onSigninButtonClick()">Sign Up</button>
<button class="btn btn-primary" (click)="onLoginButtonClick()">Log In</button>
 -->

 <app-sidebar></app-sidebar>
 <app-search></app-search>
 <app-body-home></app-body-home>