.search-container {
  max-height: 100px;
  position: relative;
  display: flex;
  height: 44px;
  margin-right: 1rem;
  .SearchForm-icon {
    position: absolute;
    top: 0;
    left: .9em;
    bottom: 0;
    margin: auto auto auto 0;
    width: 1.5em;
    // height: 1em;
    // z-index: 1;
    fill: hsl( 228.39deg 12.25% 50.39% );
  }
  input {
    width: 100%;
    margin: 0;
    padding: .4em;
    text-indent: 2em;
    border: 0;
    border-radius: 4px;
    font: inherit;
    font-weight: 700;
    background: hsl( 223.64deg 12.94% 16.67% );
    color: hsl( 0deg 0% 100% );
    font-size:20px;
    
  }
}