<!--  file này để + các component với nhau (sidebar, search, body-home, following-center, footer) -->

<div class="full-page">
    <div class="app-sidebar-component">
        <app-sidebar class="app-side-bar-container"></app-sidebar>
    </div>
    <div class="right-content">
        <div class="app-search-component">
            <app-header></app-header>
        </div>
        <div class="center-content">
            <h1>
                Support / Feedback
            </h1>
            <div class="grid-padded-group">
                <div class="form-group">
                    <div class="center-form-group">
                        <h2>
                            Contact Support
                        </h2>
                        <div class="text-module">
                            <h3>Did you try the documentation?</h3>
                            <p>We have lots of information available in <a href="/support">our documentation</a> that
                                might help you with your issue. If you don't find your answer there, send us a message.
                                We're happy to help!
                            </p>
                        </div>
                        <div class="change-information">
                            <div class="button-and-header-settings">
                                <div class="header-button">
                                    <!--space is  &nbsp;-->
                                    <!-- add * because required -->
                                    Message &nbsp;<a style="color: red">*</a>
                                </div>
                                <textarea class="input-default-settings" name="mess" [(ngModel)]="mess" type="text"
                                    style="height: 100px;" required></textarea>
                                <div class="header-button">
                                    Name
                                </div>
                                <input name="name" class="input-default-settings" [(ngModel)]="name" type="text">
                                <div class="header-button">
                                    Email &nbsp;<a style="color: red">*</a>
                                </div>
                                <input class="input-default-settings" name="mail" [(ngModel)]="mail" type="email"
                                    required>

                                <div class="header-button">
                                    Subject &nbsp;<a style="color: red">*</a>
                                </div>
                                <input class="input-default-settings" name="subject" [(ngModel)]="subject" type="text"
                                    required>
                            </div>

                            <button class="button-click-settings green-button" (click)="onSubmit()">Submit</button>
                        </div>
                    </div>

                </div>

                <div class="right-question-answer">
                    <div class="center-right-question-answer">
                        <h2>
                            FAQs
                        </h2>

                        <details class="social-information" *ngFor="let qas of question_answering">
                            <summary>
                                <!-- ::marker -->
                                {{qas.question}}
                            </summary>
                            <p>
                                {{qas.answer}}
                            </p>
                        </details>

                    </div>
                </div>
            </div>
        </div>
        <div class="app-footer-component">
            <app-footer></app-footer>
        </div>
    </div>


</div>